[user]
        email = <EMAIL>
        name = Vadim Smakhtin
[init]
        defaultBranch = main
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[pull]
        rebase = false
[push]
        autoSetupRemote = true
[alias]
        gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
        cleanup = "fetch --prune origin"
